#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hamburger {
  position: fixed;
  top: 20px;
  right: 20px
}

.modal {
  position: fixed;
  top: 80px;
  right: 20px;

  padding: 5px;
  background-color: #fff;
}

#map { height: 500px; }
.leaflet-container {
  width: 100vw;
  height: 100vh;
}


/*
// TopBar (source & destination selection)
*/
#topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 42vw;
  background-color: white;
  opacity: 96%;
  z-index: 2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 10px 10px;
}

#topbar #destination-search, #topbar #source-destinfo {
  position: absolute;
  width: 71px;
  height: 30px;
  left: 39px;
  top: 55px;
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
#topbar #source-destinfo {
  position: absolute;
  height: 41px;
  width: 100%;
  left: 57px;
  top: 50px;

  font-family: 'Blinker';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  color: #000000;

  display: grid;
  grid-template-rows: 1fr 1fr;
}
#topbar #source-destinfo span { text-align: left;}
#topbar #source-backbtn { position: absolute; top: 50px; left: 20px; color: black; height: 2em; width: auto; border-radius: 100em; transition: 0.2s; }
#topbar #source-backbtn:hover { background-color: #00000022; }
#topbar #destination-input, #topbar #source-input {
  border: 0;
  padding: 0.1em 1em 0.1em 3em;
  color: blacK;
  position: absolute;
  width: 296px;
  height: 34px;
  left: 39px;
  top: 94px;

  background: #E9E9E9;
  border-radius: 40px;
}
#topbar #destination-img-location, #topbar #source-img-lens {
  z-index: 4;
  position: absolute;
  left: 52px;
  top: 103.5px;
}
textarea:focus, input:focus{outline: none;}
#topbar-select-source {}
#topbar-select-source #source-img-arrow {}
/*
// RideSelection
*/
#rs-topbar {
  position: absolute;
  width: 390px;
  height: 138px;
  left: 0px;
  top: 0px;
  z-index: 5;
}
textarea:focus, input:focus{
  outline: none;
}

#topbar-select-source {

}
#topbar-select-source #source-img-arrow {

}
#rs-topbar {
  background: #D3E0C3;
  border-radius: 0px 0px 10px 10px;
}
